/* Slider2.module.css — exact port of source */

.root {
  width: 95%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  margin-bottom: 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.labelSpacing {
  color: #416ce1;
  white-space: nowrap;
  font-size: 16px;
}

.tp {
  font-weight: 600;
  padding: 0px 20px 0px 10px;
}

.main {
  justify-self: center;
  align-self: center;
}
